/* -----------------------------------------
	01. General
----------------------------------------- */

/* Basic Typography
=================================== */
body {
	background-color: #FFF;
	line-height: 1.875;
	font-size: 16px;
	color: $text-color;
	font-family: $primary-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	line-height: normal;
	margin: 0 0 20px 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	color: $heading-color;
	font-weight: 400;
	letter-spacing: 0.08em;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p {
	margin: 0 0 15px 0;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

a {
	transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
	outline: none;
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: lighten($link-color, 10%);
		outline: none;
		text-decoration: none;
	}

	&:active {
		outline: none;
	}
}

.group {
	@include clearfix();
}

/* General Element Styling
=================================== */

/* Reset figure margin from normalize.css */
figure {
	margin: 0;
}

/* Lists */
ul, ol {
	padding-left: 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dl {
	margin: 0 0 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 15px;
}

/* Blockquotes */
blockquote {
	margin: 20px 0;
	padding: 0;
	font-size: 17px;

	cite {
		display: block;
		font-weight: bold;
		font-style: italic;
		margin: 10px 0 0;
		color: rgba($text-color, 0.8);
		font-size: 14px
	}
}

/* Tables */
table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

.entry-content {
	table {
		border-width: 1px 0 0 1px;
		margin-bottom: 24px;
	}

	th:first-child,
	td:first-child {
		padding-left: 0;
	}

	th,
	td {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	caption,
	th,
	td {
		font-weight: normal;
		text-align: left;
		padding: 5px;
		vertical-align: middle;
	}

	th {
		border-width: 0 1px 1px 0;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 85%;
	}

	td {
		border-width: 0 1px 1px 0;
	}
}

/* Code */
code, kbd, tt, var, samp, pre {
	font-family: monospace, serif;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	font-style: normal;
}

pre {
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.1);
}

/* Various */
address {
	margin: 0 0 15px;
}

.sr-only,
.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/* Embeds and iframes
=================================== */

embed,
iframe,
object,
video,
audio {
	margin-bottom: 15px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
p > audio,
span > embed,
span > iframe,
span > object,
span > audio {
	margin-bottom: 0;
}

#map,
.map * {
	max-width: none !important;
}


/* General Form Styling
=================================== */

label {
	display: block;
	margin: 0 0 2px;
	font-weight: normal;
}

input,
textarea {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	height: 40px;
	padding: 6px 12px;
	box-shadow: none;
	line-height: normal;
	border: 2px solid #A2A2A2;
	background-color: #FFF;
	background-image: none;
	border-radius: 0;
	transition: border-color 0.18s ease;
	font-size: 12px;

	@include placeholder-parent {
		text-transform: uppercase;
	}

	&:focus {
		outline: none;
		border-color: $text-color;
	}

	@media ( max-width: $screen-xs-max ) {
		width: 100%;
	}

	form & {
		margin-bottom: 25px;
	}
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
	-webkit-appearance: none;
}

input[type="search"] { /* Restoring box-sizing */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	padding-top: 15px;
	padding-bottom: 15px;
	height: auto;
}

select {
	max-width: 100%;
	height: 42px;
	text-transform: uppercase;
	font-size: 12px;
	border: 2px solid #A2A2A2;
	background-color: #FFF;
	border-radius: 0;
	cursor: pointer;
}

option {
	color: $text-color !important;
	padding: 5px 10px;
}

.ci-select {
	cursor: pointer;
	position: relative;

	&:after {
		position: absolute;
		font-family: FontAwesome;
		content: "\f107";
		top: 7px;
		color: inherit;
		right: 10px;
		pointer-events: none;
	}

	select {
		padding: 0 20px 0 10px;
		-webkit-appearance: none;
		   -moz-appearance: none;
					  appearance: none;
		outline: none;

		&::-ms-expand {
			display: none;
		}
	}
}

option {
	border-radius: 0;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 4px 0 0;
	margin-top: 1px \9; // IE8-9
	line-height: normal;
	width: auto;
	height: auto;
}

fieldset {
	margin: 0 0 15px;
	padding: 0;
	border: none;
	min-width: 0;
}

/* Placeholder text color */
@include placeholder {
	color: rgba($text-color, 0.5);
	font-weight: normal;
	opacity: 1;
}

/* Contact Form 7 */
.wpcf7 {
	p {
		margin: 0;
	}

	.wpcf7-not-valid-tip {
		margin-top: -25px;
		margin-bottom: 10px;
		font-size: 80%;
	}

	.entry-content & {
		p {
			margin: 0;
		}
	}
}

/* Buttons
=================================== */

.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	display: inline-block;
	font-weight: normal;
	margin: 0;
	line-height: normal;
	box-shadow: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	transition: 0.18s background-color ease, color 0.18s ease, 0.18s border-color ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border-radius: 0;
	width: auto;
	height: 40px;
	background-image: none;

	padding: 11px 30px 12px;
	font-size: 12px;
	background-color: #252525;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border: 2px solid #252525;

	&:active {
		outline: none;
	}

	&:hover {
		background: transparent;
		color: $text-color;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}

	&.btn-transparent {
		background-color: transparent;
		color: $text-color;
	}

	&.btn-white {
		color: #FFF;
		background-color: #FFF;
		border-color: #FFF;

		&.btn-transparent {
			background-color: transparent;
		}

		&:hover {
			color: $primary-color;
			background-color: #FFF;
		}
	}
}


/* CI-Slider Overrides
=================================== */

.ci-slider {
	margin: 0;
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	border: 0;

	.slides li:after {
		content: " ";
		position:absolute;
		top:0;
		left:0;
		z-index:-1000;
	}
}

@-webkit-keyframes scaleout {
	0% { -webkit-transform: scale(0.0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes scaleout {
	0% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 100% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			opacity: 0;
		}
}

.ci-direction-nav a {
	top: 50%;
	opacity: 0.7;
	line-height: normal;

	&:hover {
		color: #FFF;
		opacity: 1;
	}
}

.ci-slider .slides > li:first-child {
	display: block; /* Display flexslider's first item no matter if its loading or not */
	-webkit-backface-visibility: visible;
}

.ci-slider.loading .slides > li:first-child {
	opacity: 1 !important; /* Remove the fade in/out animation when the slider loads */
}

/* Magnific Popup Overrides
=================================== */
.mfp-bg {
	background-color: #000;
}

.mfp-preloader {
	color: #FFF;

	a, a:hover {
		color: #FFF;
	}
}

.mfp-container:not(.mfp-s-error) {
	.mfp-preloader {
		@include spinner;
		background-color: #FFF;
		text-indent: -999em;
		margin: 0 auto;
	}
}

button.mfp-close,
button.mfp-arrow {
	border: none;
	opacity: 1;

	&:hover {
		background: none;
		border: none;
	}
}

.mfp-close-btn-in {
	.mfp-close {
		color: #FFF;
	}
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #FFF;
}

.mfp-arrow {
	line-height: 0.3;

	&:before,
	&:after {
		border: none;
	}

	&:after {
		font-family: FontAwesome;
		font-size: 70px;
		color: #FFF;
	}
}

.mfp-arrow-right {
	&:after,
	.mpf-a {
		content: "\f105";
	}
}

.mfp-arrow-left {
	&:after,
	.mpf-a {
		content: "\f104";
	}
}

/* Text Alignment Helpers
=================================== */
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justified {
	text-align: justify;
}

.text-emphasis {
	font-style: italic;

	a {
		border-bottom: 2px solid $text-color;

		&:hover {
			color: $text-color;
		}
	}
}

.text-lg {
	font-size: 18px;
	line-height: (30/18);
}

.text-styled {
	@include font-style;
}